<!-- we are discussing about the angular forms -->
<!-- By using angular forms concept in angular we can handle the 
validations -->
<!-- getbootstrap website i am going to redesign my html form -->
<!-- i need to trace the data in the controls -->

<!-- How i can take the value
where i can pick the value -->

<div class="container" style="margin:50px">
    <form (ngSubmit)="evtSubmit(form)" id="fUserForm" #form="ngForm" ngForm>
        <!-- here ngForm taking all the values of the fUserForm -->
     
        <div name="FirstGroup" 
        ngModelGroup="FirstGroup">
        <div style="padding:20px" class="form-group row">
            <label class="col-sm-2 col-form-label">UserName</label>
            <div class="col-sm-10">
                <input id="UserNameID" name="UName" type="text" 
                class="form-control" #UName=ngModel ngModel required />
                <small *ngIf="UName.invalid && UName.touched">
                    Please enter the userName</small>

                <!-- it will take the value of the control -->
                <!-- its apply the some styles like internally 
                i.e. touched or untouched or ngdirty or valid or invalid or pristine
                 -->
            </div>
        </div>
     
        <div style="padding:20px" class="form-group row">
            <label class="col-sm-2 col-form-label">User City</label>
            <div class="col-sm-10">
                <select id="UserCityID" class="form-control" name="UCity" #UCity="ngModel" ngModel required>
                    <!-- it will take the value of the control -->
                    <option [value]="item.Id" *ngFor="let item of CityList">
                        {{item.Name}}
                    </option>
                </select>
                <small *ngIf="UCity.invalid && UCity.touched">Please enter the usercity</small>
            </div>
        </div>

        <div style="padding:20px" class="form-group row">
            <label class="col-sm-2 col-form-label">User Email</label>
            <div class="col-sm-10">
                <input id="UserEmailID" name="UEmail" type="email" class="form-control" #UEmail=ngModel ngModel required
                    email />
                <small *ngIf="UEmail.invalid && UEmail.touched">Please enter the userEmail</small>
            </div>
        </div>
    </div>

    <div name="SecondGroup" ngModelGroup="SecondGroup">
        <div style="padding:20px" class="form-group row">
            <label class="col-sm-2 col-form-label">User Comments</label>
            <div class="col-sm-10">
                <textarea 
                 name="userComments"
                 class="form-control" rows="3" 
                 placeholder="description"
                 [(ngModel)]="comments" required></textarea>
                <small *ngIf="comments.length==0">
                    Please enter the UserDescription</small>
            </div>
            <p> {{comments}} </p>
        </div>

        <div style="padding:20px" class="form-group row">
            <label class="col-sm-2 col-form-label">User Status</label>
            <div class="col-sm-10">
                <div *ngFor="let item of status">
                    <input [value]="item" type="radio" 
                    name="status" 
                    #status="ngModel"
                    ngModel required>{{item}}
                </div>
            </div>
        </div>
    </div>



        <!-- <input type="radio">Single
        <input type="radio">Married -->




        <!-- required is the nothing but html vaidator attribute  -->
        <!-- i wanto to see the validations List of the controls after the view initlizaiton -->

        <button [disabled]="form.invalid" class="btn btn-primary">Submit</button> | 
        <button (click)="evtReset()" class="btn btn-primary">Reset</button>

    </form>
</div>